* {
  
}
.w-4 {
  width: 1rem;
}
.h-4 {
  height: 1rem;
}

.w-6 {
  width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-footer.clearfix {
  border: 1px solid gainsboro;
}

.card .table a {
  color: #103a71;
}

.card-footer a.page-link {
  color: #103a71;
}

a.brand-link {
  text-align: center;
  font-size: 23px;
  background: #103a71;
  color: white;
  padding: 20px 0;
}

.sidebar .nav-pills .nav-link {
  color: #103a71 !important;
}

.login-box button.btn.btn-primary.btn-block {
  background: #103a71;
}

.login-box button.btn.btn-primary.btn-block:hover {
  background: white;
  color: #103a71;
}

.login-box span.fas.fa-lock, span.fas.fa-envelope {width: 18px;height: 18px;}
.login-box .card.card-outline.card-primary {
  border-top: 5px solid #103a71;
}

body {
  color: #103a71;
}

.product-info p {
  margin: 5px;
}

.inner .tp {
  padding: 0px 15px;
}

.inner p {
  margin-bottom: 10px;
}

 .wrapp {
  position: relative;
  height: 185px;
  width: 100%;
  border: 2px dashed #c2cdda;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-self: center;
}

.wrapp.active {
  border: none;

}

.wrapp .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.wrapp .content {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-self: center;
}

.wrapp .image img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapp .icon {
  font-size: 60px;
  color: #9658fe;
  margin-top: 30px;
}

.wrapp .text {
  font-size: 16px;
  font-weight: 500;
  color: #5B5B7B;
}


.wrapp.active:hover .file-name {
  display: block;
}


.wrapp .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
  display: none;
  background: linear-gradient(to left, #3a8ffe 0%, #103a71 100%);
  text-align: center;
}

.wrapp.active:hover #custom-btn {
  display: block;
}

.wrapp #custom-btn:hover {
  color: #e74c3c;
}


#custom-btn {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  display: block;
  border: none;
  border-radius: 25px;
  color: #fff;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(to left, #3a8ffe 0%, #103a71 100%);
}
