* {}


.w-4 {
    width: 1rem;
}

.h-4 {
    height: 1rem;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-footer.clearfix {
    border: 1px solid gainsboro;
}

.card .table a {
    color: #103a71;
}

.card-footer a.page-link {
    color: #103a71;
}

a.brand-link {
    text-align: center;
    font-size: 23px;
    background: #103a71;
    color: white;
    padding: 20px 0;
}

.sidebar .nav-pills .nav-link {
    color: #103a71 !important;
}

.login-box button.btn.btn-primary.btn-block {
    background: #103a71;
}

.login-box button.btn.btn-primary.btn-block:hover {
    background: white;
    color: #103a71;
}

.login-box span.fas.fa-lock,
span.fas.fa-envelope {
    width: 18px;
    height: 18px;
}

.login-box .card.card-outline.card-primary {
    border-top: 5px solid #103a71;
}

body {
    color: #103a71;
}

.product-info p {
    margin: 5px;
}

.inner .tp {
    padding: 0px 15px;
}

.inner p {
    margin-bottom: 10px;
}

.wrapp {
    position: relative;
    height: 185px;
    width: 100%;
    border: 2px dashed #c2cdda;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-self: center;
}

.wrapp.active {
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wrapp.active .content{
    display: none;
}

.wrapp .image {
    position: absolute;
    max-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.wrapp .content {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.wrapp .image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapp .icon {
    font-size: 60px;
    color: #9658fe;
    margin-top: 30px;
}

.wrapp .text {
    font-size: 16px;
    font-weight: 500;
    color: #5B5B7B;
}


.wrapp.active:hover .file-name {
    display: block;
}


.wrapp .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    display: none;
    background: linear-gradient(to left, #3a8ffe 0%, #103a71 100%);
    text-align: center;
}

.wrapp.active:hover #custom-btn {
    display: block;
}

.wrapp #custom-btn:hover {
    color: #e74c3c;
}


#custom-btn {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: block;
    border: none;
    border-radius: 25px;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to left, #3a8ffe 0%, #103a71 100%);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -13px;
    font-style: italic;
    margin-bottom: 8px;
}

#product-name {
    font-weight: 600;
    margin-bottom: 1rem;

}

.sub-info p.tittle {
    font-weight: 600;
    margin-bottom: 10px;

}

.product-info .sub-info {
    margin-bottom: 1rem;

}

.product-info #image img {
    width: 100%;

}

.card-header {
    padding: 40px;
}

.card-body .table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:not([type="radio"]):focus {
    border: 1px solid #72cdf4;
    outline-offset: 0px;
    outline: none;
    box-shadow: 0 0 3px #72cdf4;
}

/* image mul... */
input#product_images {
    border: none;
}

.img_multiple {
    border: 1px solid gainsboro;
    padding: 10px 5px;
}

.img_multiple .img_show {
    margin-top: 10px;
    width: 100%;
    max-height: 292px;
    overflow: scroll;
}

.img_multiple .img_show img {
    width: 100%;
    height: auto;
    padding: 5px 10px;
}

/* upadte product img */
.delete_img {
    position: relative;
    list-style: none;
    display: inline-flex;
    margin: 10px;
}

.delete_img form {
    float: left;
    top: -12px;
    left: 4px;
    position: absolute;
    z-index: 30;
}

.list_img {
    height: auto;
    overflow: scroll;
    margin-top: 15px;
    padding: 0px !important;
}

.delete_img img {
    top: 0px;
    right: -11px;
    position: relative;
    z-index: 20;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid gainsboro;
}

.delete_img img:hover {
    box-shadow: 0 0 4px #c2cdda;
}

.delete_img button.btn.text-danger {
    color: #103a71 !important;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
    background: #fff;
    padding: 0px 6px;
    border: none;
}

.delete_img button.btn.text-danger:hover {
    color: #e74c3c !important;
    box-shadow: 0 0 2px #c2cdda;
    border-radius: 7px;
}

.alert.alert-success.alert-block {
    background: #fff;
    border: none;
    color: #77D970;
    width: max-content;
}

.alert.alert-success.alert-block button.close {
    margin: 0 0 0 20px;
}

.alert.alert-success.alert-block i.fa {
    margin: 0 5px 0 0;
}

.login-box .alert.alert-success.alert-block {
    background: #FAE5E5;
    color: red;
    font-size: 11px;
    font-weight: 100 !important;
    border: none;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    width: 100%;
}
 
.login-box .alert.alert-success.alert-block button.close {
    color: black;
    position: absolute;
    right: 15px;
    top: 7px;
}

.user-info img {
    max-width: 100%;
    padding: 10px 30px 10px 0px;
}


section.content.chart-dash {
    margin: 0 6px;
}
.chart-dash .card.mb-4 {
    padding: 30px 20px;
}

/* .chartBox {
    padding: 30px 0;
    display: grid;
}

.chartBox.left {
    width: 30%;
    max-height: 100%;
    float: left;
}

.chartBox.right {
    width: 70%;
    max-height: 100%;
    float: right;
} */

/* .card-body-chart {
    position: relative;
} */

.card-body-chart {
    display: inline-flex;
    justify-content: space-between;
}

.chartBox.left {
    width: 50%;
    height: 50%;
    position: relative;
}

.chartBox.right {
    width: 100%;
    height: 100%;
    position: relative;
}

