/* VIEW CART */
.page-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
}

.cart-container .cart-summary {
    width: 30%;
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    top: auto !important;
}

.cart-container .cart-summary .summary.title {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.cart-summary>.title {
    display: block;
    font-weight: 300;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.cart-total {
    display: flex;
}

.cart-total .total {
    flex: 1;
    color: #999999;
    text-transform: uppercase;
    font-weight: 500;
}

.cart-total .total>p {
    font-size: 14px;
    margin-bottom: 5px;
}

.cart-total .total>strong {
    color: #333333;
    display: block;
    font-size: 24px;
    text-transform: none;
}

.cart-total .btn-wrap {
    font-weight: normal;
    display: block;
    background: transparent;
}

.cart-total .btn-wrap a.btn-continue {
    padding: 0px 30px;
    display: block;
    color: #fff;
    background: #72cdf4;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
}

.cart-container .form-cart {
    width: 67%;
}

@media (min-width: 768px) {
    .cart-summary {
        float: right;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .cart-container .cart-summary {
        position: relative;
        top: auto !important;
        width: 100%;
        padding: 20px 10px;
    }

    cart-container .form-cart {
        width: 100%;
        float: none;
        clear: both;
    }
}
@media (max-width: 991px) {
    .cart-container .cart-summary {
        position: relative;
        top: 0 !important;
        width: 100%;
    }
}

/* ACCOUNT */
.account .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*.col-left-sidebar */
.col-left-sidebar {
    background: #f8fdff;
    border-right: 1px solid #f2f2f2;
    width: 290px;
    padding: 0;
}

.account {
    padding: 20px 0;
    min-height: 500px;
}

.account .content {
    margin-top: 0px;
}

.account .welcome {
    text-align: center;
    padding: 30px 0;
}

.account .welcome label {
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0;
}

.account .welcome .name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
}

.account-nav .item.current,
.account-nav .item:hover {
    background: #72cdf4;
}

.account-nav .item {
    margin: 0;
    position: relative;
    padding: 15px 0 15px 70px;
}

.account-nav .item a,
.account-nav .item>strong {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0px;
}

.account-nav .item:before {
    content: "";
    display: block;
    width: 30px;
    height: 24px;
    float: left;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -12px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.account-nav .item:first-child:before {
    background-image: url(https://www.thtruemart.vn/static/version1678869973/frontend/Sm/market_child/vi_VN/images/ica1.png);
    background-size: 19px;
}

.account-nav .item:nth-child(2):before {
    background-image: url(https://www.thtruemart.vn/static/version1678869973/frontend/Sm/market_child/vi_VN/images/ica2.png);
    background-size: 24px;
}

.account-nav .item:nth-child(3):before {
    background-image: url(https://www.thtruemart.vn/static/version1678869973/frontend/Sm/market_child/vi_VN/images/ica3.png);
    background-size: 26px;
}

.account-nav .item:nth-child(4):before {
    background-image: url(https://www.thtruemart.vn/static/version1678869973/frontend/Sm/market_child/vi_VN/images/ica5.png);
    background-size: 18px;
}

.account-nav .item:nth-child(5):before {
    background-image: url(https://www.thtruemart.vn/static/version1678869973/frontend/Sm/market_child/vi_VN/images/ica6.png);
    background-size: 20px;
}

.account ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.account li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/*.col-right-main */
.col-right-main {
    padding: 35px;
    width: calc(100% - 290px);
    float: right;
}

.block-title {
    margin: 0 0 20px;
}

.block-title>strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
    padding: 0;
}

.form-group .data {
    font-weight: 500;
    coloR: #808080;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    min-height: 40px;
}

.account .account-form .btn-edit .action {
    padding: 0 40px;
    line-height: 40px;
    display: inline-block;
    width: auto;
    color: #fff;
    background: #72cdf4;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
    }

    .col-right-main,
    .col-left-sidebar {
        width: 100%;
        padding: 15px;
        float: none;
    }
}


.data input:not([type="radio"]) {
    width: 100%;
    border: 1px solid #80808061;
    height: 40px;
    padding: 0 10px;
}

.data input:not([type="radio"]):focus {
    border: 1px solid #72cdf4;
    outline-offset: 0px;
    outline: none;
    box-shadow: 0 0 3px #72cdf4;
}

label.radio-inline {
    font-size: 18px;
    margin-right: 25px;
    bottom: -10px;
    height: 40px;
}

button.btn-edit.submit {
    padding: 0;
    border: 0;
}

#update_acc .data, #form_shange_pass .data {
    border-bottom: none;
}


/* ORDER */
.order-container {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.order-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.product-image {
    max-width: 300px;
}